.header {
    padding-left: 60px;
    float: left;
    opacity: 1;
    text-align: center;
    font-weight: bolder;
}

.links {
    float: right;
    justify-content: center;
}

.navbar{
    padding:0px;
    background-color: #ffffff;
}

.navbar .link {
    color: #000000 !important;
    text-align: center;
    padding: 12px;
    margin: 0px 12px;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
}

.header_img{
    display: block;
    margin: 0 auto;
}

.header .title {
    font-weight: bold;
    font-size: 3.5vw;
}


.jumbotron {
    color: #000000;
    background-image: url("header_bg1.jpg");
    height: 700px;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
  }

.google-btn {
    display: inline !important;
}

#logout-p {
    display: inline !important;
}

#login-p {
    display: inline !important;
}

.navbar {
    background-color:#F8F8F8;
    padding: 0px !important;
    line-height: 2.5em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.restaurant-navbar .nav-item .nav-link {
    padding: 16px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    color: #000000;
}

.restaurant-navbar .nav-item .text {
    color: #000000;
}

.nav-item:hover {
    background-color: #f3f3f3;
}