.header {
    position: absolute;
    top: 22%;
    left: 20%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.links {
    float: right;
    justify-content: center;
}

.navbar {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.navbar .link {
    color: #000000 !important; 
    text-align: center;
    margin: 0px 12px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.header_img{
    display: block;
    margin: 0 auto;
}

.header .title {    
    opacity: 1;
    font-size: 3.4vw;
    font-family: 'Rubik', sans-serif;
}


.jumbotron {
    color: #000000;
    background-image: url("header_bg1.jpg");
    height:calc(400px + 30vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }

.google-btn {
    display: inline !important;
}

#logout-p {
    display: inline !important;
}

#login-p {
    display: inline !important;
}

.navbar {
    background-color:#F8F8F8;
    line-height: 2.5em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.restaurant-navbar .nav-item .nav-link {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    color: #000000;
}

.restaurant-navbar .nav-item .text {
    color: #000000;
}

.nav-item:hover {
    background-color: #f3f3f3;
}

.navbar-brand {
    padding-left: 20px;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 56px;
    max-width: 250px;
}