

.restaurant-profile {
    text-align: left;
    padding: 40px;
    font-family: 'Didact Gothic', sans-serif;
}

.title {
    font-size: 20px;
    text-align: center;
}

.profile-logo {
    max-width: 400px;
}

.restaurant-profile .restaurant-info {
    /* display: flex; */
    background-color: #ffffff;
    padding: 10px;
}

.restaurant-info .text-container {
    font-family: 'Didact Gothic', sans-serif;
}
.picture-container {
    /* margin-right: 20%; */
    /* padding-left: 400px; */
    /* padding: 0px 0px 40px 400px; */
    /* float: left; */
}


.restaurant-header{
    background: cadetblue;
    color: white;
    padding: 10px;
}

.menu {
    height: 600px;
    padding: 16px 0px;
}

.info {
    height: 600px;
    padding: 16px 0px;
}

.announcements {
    height: 600px;
    padding: 16px 0px;
}