.headerStyle {
    background: #f3f3f3;
    color: #000000;
    text-align: center;
    padding: 26px 26px 40px 26px;
    border-bottom: solid;
}

.headerStyle .title {
    font-size: 3em;
    padding-bottom: 16px;
}

.linkStyle {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 16px 0px 16px;
}

.non-last-linkStyle{
    border-right: #000000;
    border-right: solid; 
    border-width: 0.1ch;
}