.headerStyle {
    background: #f3f3f3;
    color: #000000;
    text-align: center;
    padding: 26px 26px 40px 26px;
    border-bottom: solid;
}

.headerStyle .title {
    font-size: 3em;
}

.linkStyle {
    color: #000000;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 20px;
}