.formStyle {
    padding: 26px 0px;
}

.containerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 26px 0px 26px;
}

.containerStyle .title {
    font-size: 2em;
}

.inputStyle {
    padding: 1em;
    font-size: 20px;
    margin: 10px 0px;
}