.restaurant-title {
    font-size: 20px;
    text-align: center;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.text-link:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 26vw;
    object-fit: cover;
    border-color: #f3f3f3;
}

.fa-map-marker {
    padding-right: 10px;
    color: red;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex: 1;
}

.card-deck {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.restaurants{
    padding: 0px 60px;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
}

.restaurant-list-title {
    font-size: 36px;
}

.restaurant-header{
    background: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.category {
    background-color: darksalmon;
    margin: 10px 10px;
    padding: 0px 10px;
}
.resultText {
    margin-top: 50px;
}